

body {
  font-family: 'Exo', sans-serif;
}

#back-to-top{
  color:white;
  background: rgb(110,164,191);
  background: linear-gradient(90deg, rgba(87, 87, 87, 1) 0%, rgba(114, 114, 114, 1) 100%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


  .chapter {
    color:white;
    border-radius: 60px 2px  60px 2px;
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    padding: 15px 25px 15px 25px ;
    margin: 4px;
    background: rgb(110,164,191);
    background: linear-gradient(90deg, rgba(87, 87, 87, 0.9) 0%, rgba(114, 114, 114, 0.8) 100%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .c1 {
    grid-column: 9 / span 12;
    grid-row: 1 / span 4;
    text-align:center;  
  }
  .c2 {
    grid-column: 1 / span 8;
    grid-row: 1 / span 3;
  }
  .c3 {
    grid-column: 1 / span 8;
  }
  .c4 {
    grid-column: 1 / span 12;
  }
  .c5 {
    grid-column: 1 / span 12;
  }
  .c6 {
    grid-column: 1 / span 12;
  }
  .c7 {
    grid-column: 1 / span 12;
  }
 #myImg{
    width: 80%;
    border-radius: 40% 2%  40% 2%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    
 }

 #name{
    margin: 10px;
    font-size: 2em;
    
 }

 #label{
    margin: 10px;
    font-size: 1.5em;
    
 }


 .contact-details{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;

}

.contact-details .adiv{
  
  width: 100%;
  

  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  
  margin:2px;
}
.idiv{
  
  border-radius: 3px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin:0 ;
  padding: 0;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.c1 i{
  font-size: 1.2em;
  margin:0;
  padding: 0;
  
}

.c1 span{
  
  margin: 0;
  color: white;
  text-decoration: none;
  margin-left: 5px;
  font-style: italic;
  
  
  
}
.c1 a{
  
  margin: 0;
  color: white;
  text-decoration: none;
  margin-left: 5px;
  font-style: italic;
  
  
  
}

  .skillsHtml span{
    margin:6px;
    padding:6px;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .worksSpan{
    margin:6px;
    padding:6px;
    font-size: 0.7em;
    font-style: italic;

    
  }

  .interestsHtml span{
    margin:6px;
    padding:6px;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  
  .repositoryHtml span{
    margin:6px;
    padding:6px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   }

   .repositoryHtml .link{
    background-color: rgb(212, 252, 252,0.2);
    color:white;
   }

   .repositoryHtml .link:hover{
    background-color: rgb(165, 196, 196);
   }
  
  
  
  .topnav {
    overflow: hidden;
    
    background: linear-gradient(90deg, rgba(87, 87, 87, 0.9) 0%, rgba(114, 114, 114, 0.8) 100%);
   
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


backdrop-filter: blur(3.9px);
-webkit-backdrop-filter: blur(3.9px);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    opacity: 0.5;
  }
  
  .topnav a.active {
    opacity: 0.75;
    background-color: #dd6031;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }



      

  
    
  @media screen and (max-width: 1000px) {
    
    
    
    .grid-container {
    
      
      margin:2% 2%;
      display: block;
  }


}
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child){
      display: none;
    }

    

    


    .topnav a.icon {
      float: right;
      display: block;
    }
    
    .grid-container {
    
      display: block;
      margin:2% 2%;
  }

  #myImg{
    width: 70%;
    
    
    

    
 }

  .topnav.responsive {
    position: relative;
    font-size: 2px;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  } 

  footer span {
    font-size: 20px;
    
  }
  footer i {
    font-size: 20px;
    
  }
  footer a {
    color: #ddd;
    font-size: 20px;
    
  }

  
}
    
  

  .context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    position: fixed;
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    position: fixed;
    top: 0;
  left: 0;
    width: 100%;
    height:100%;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
   
}

.circles{
    
    overflow: hidden;
}

.circles li{
    
    list-style: none;
    
    
}

  .qr-code{
    position: absolute;
    right: 10px;
    width: 100px;
    height: 100px;
    opacity: 0;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px, rgb(209 213 219) 0px 0px 0px 1px inset;
  }
  .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
  }
  .qr-code img{
    width: 100px;
  }
