@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body {
  font-family: 'Source Code Pro', monospace;
  background-color: #041C32;
  font-size: 0.9em;
  
}

h1,h2,h3,h4,h5{
  margin:2px;
  color:#ECB365;
}
p{
  margin:2px 16px 2px 16px;
  color:#ECB365;

}


#back-to-top{
  background-color:#041C32;
  color:#ECB365;
  font-size: 20px;

  border: 1px solid #ECB365;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

  .chapter {
    
    background-color: #04293A;
    border-radius: 2px 2px 2px 2px;
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    padding: 15px 25px 15px 25px ;
    margin: 2px;

    
    
    

  }

  .c1 {

    grid-column: 1 / span 12;
    
    
    
  }
  .c2 {
    
    grid-column: 1 / span 12;
    
  }
  .c3 {
    grid-column: 1 / span 12;
    
  }
  .c4 {
    grid-column: 1 / span 12;
    
  }
  .c5 {
    grid-column: 1 / span 12;
    
    
  }
  .c6 {
    grid-column: 1 / span 12;
    
  }
  .c7 {
    grid-column: 1 / span 12;
    
  }
  


 #myImg{
    width: 180px;
    border-radius: 7%;
    
    display: flex;
    
    
    align-items: center;
    
    
 }

 #name{
    margin: 2px;
    font-size: 2em;
    text-align: left;
    color: #ECB365;
    
    
    
 }

 #label{
    margin: 2px;
    font-size: 1.5em;
    text-align: left;
    color: #ECB365;
    
 }

 hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 10px;
    border-top: 1px solid #ECB365;
    
}


.contact-details{
  display: inline-block;
  
  width: 100%;
  padding-left: 15px;

}

.contact-details .adiv{
  
  
  

  display: inline-block;
  align-items: center;
  justify-content: left;
  text-align: left;
  
  margin:2px;
}
.idiv{
  
    
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
   color:#ECB365;

  
  border-radius: 3px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin:0 ;
  padding: 0;

}
.c1 i{
  font-size: 1.2em;
  margin:0;
  padding: 0;
  
}

.c1 span{
  
  margin: 0;
  color: #ECB365;
  text-decoration: none;
  margin-left: 5px;
  
  
  
  
}
.c1 a{
  
  margin: 0;
  color: #ECB365;
  text-decoration: none;
  margin-left: 5px;
  
  
  
  
}
















  .skillsHtml span{
    margin:4px;
    padding:6px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
   }

   .worksSpan{
    margin:2px;
    padding:6px;
    font-size: 0.9em;
    font-style: italic;

    
  }

  .interestsHtml span{
    margin:4px;
    padding:6px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
   }

   .repositoryHtml span{
    margin:4px;
    padding:6px;
    border-radius: 5px;
    text-decoration: none;
    color:#ECB365;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
   }

   .repositoryHtml .link{
    background-color: #064663;
   }

   .repositoryHtml .link:hover{
    background-color: #ECB365;
    color: #064663;
   }



  
  
  
  
  .topnav {
    overflow: hidden;
    
    background-color: #04293A;
   
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    

  }
  
  .topnav a {
    float: left;
    display: block;
    color: #ECB365;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 12px;
    
    
  }

  

  .topnav a:not(:first-child):not(.iconStyle){
    
    
    border-right: 2px solid #041C32;
    
  }


  
    
  
  .topnav a:hover {
    background-color: #000000;
    color: white;
    opacity: 0.8;
  }
  
  .topnav a.active {
    opacity: 0.75;
    background-color: #ECB365;
    color: #041C32;
    font-weight: bold;
  }
  
  .topnav .icon {
    display: none;
  }



      

  
    
  @media screen and (max-width: 1000px) {
    
    
    
    .grid-container {
    
      
      
      display: block;
  }

  


}
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child){
      display: none;
    }

    .topnav a:not(:first-child):not(.iconStyle){
    
    
      border-right: 0px;
      
    }


    .topnav a.icon {
      float: right;
      display: block;
    }
    
    .grid-container {
    
      display: block;
      margin:2% 2%;
  }

 

  .topnav.responsive {
    position: relative;
    font-size: 2px;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  } 



  
}
    
  

  


.area{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    
   
}

.circles{
    
    overflow: hidden;
}

.circles li{
    
    list-style: none;
    
    
}
  .qr-code{
    position: absolute;
    right: 10px;
    width: 100px;
    height: 100px;
    opacity: 0;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px, rgb(209 213 219) 0px 0px 0px 1px inset;
  }
  .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
  }
  .qr-code img{
    width: 100px;
  }
